.modalBackground {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 100;
}

.backdrop {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 10;
}
.modalContainer {
	min-width: 600px;
	margin: 20px;
    z-index: 1;
	border-radius: 5px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
    margin-bottom: 10%;
}

.modalContainer .title {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

.titleCloseBtn {
	display: flex;
	justify-content: flex-end;
}

.titleCloseBtn button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.modalContainer .body {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	text-align: center;
}

.modalContainer .footer {
	flex: 20%;
	display: flex;
	justify-content: flex-end;
}



#cancelBtn {
	background-color: crimson;
}
