.modalBackground {
	height: 100%;
	width: 100%;
	background: rgba(76, 76, 76, 0.75);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.modalContainer {
	width: 700px;
	min-height: 270px;
	margin: 10px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 14%;
}

.modalContainer .title {
	display: inline-block;
	text-align: center;
	margin-top: 10px;

}

.titleCloseBtn {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	box-shadow: rgba(214, 214, 214, 0.35) 0px 5px 15px;
	padding: 5px 10px;
	align-items: center;
	color: black;
}

.titleCloseBtn i {
	font-size: x-large;
	font-weight: bold;
}

.modal-title {
	/* margin-right: 190px; */
	font-size: larger;
	font-weight: bold;
}

.titleCloseBtn button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

@media only screen and (max-width:600px) {
	.modalContainer {
		top: 15%;
		position: fixed;
		width: 350px;
		height: 250px;
	}

	.modalBackground {
		justify-content: center;
	}
}