.auth-page-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.auth-card {
    background-color:#fff;
    width:28%;
    display:flex;
    flex-direction:column;
    border:1px solid  rgb(46, 224, 255);
    border-radius:7px;
    margin-top:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .auth-card form {
    display:flex;
    flex-direction:column;
    padding:30px 11%; 
    font-weight:lighter;
  }
  .auth-card form label{
    font-size:x-small;
    font-weight:lighter;
    color:grey;
  }
  .auth-card form input{
    margin:10px 0;
    border:none;
    outline:none;
    border-bottom:0.7px solid grey;
    padding: 3px;
  }
  
  .auth-card form input:focus {
      border-bottom: 2px solid rgb(10, 210, 245);
  }
  
  .password-container {
    position: relative;
  }
  .password-container input {
    width: 100%;
  }
  .forgot-pass {
    right: 0;
    bottom: 15px;
    position: absolute;
    font-size: x-small;
    font-weight: lighter;
    color: grey;
    cursor: pointer;
  }
  
  .auth-card form button{
    border:none;
    outline:none;
    padding:7px;
    margin:20px 0;
    background-color:rgb(10, 198, 245);
    border-radius:3px;
    color:#fff;
    font-weight:bold;
    font-size: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  
  .auth-card form button:hover {
    background-color:rgb(58, 224, 253);
  }
  
  
  .auth-card .auth-card-footer {
    padding:10px 14%; 
  }
  
  .auth-card .auth-card-footer h5 {
    font-weight:lighter;
    text-align:center;
  }
  
  .auth-card .auth-card-footer h5 span{
    color:rgb(46, 224, 255);
    cursor: pointer;
  }



  @media only screen and (max-width:1200px) {
    .auth-card {
      width: 65%;
    }
  }
  
  @media only screen and (max-width:800px) {
    .auth-card {
      width: 80%;
    }
  }
  
  @media only screen and (max-width:550px) {
  
    .auth-card {
      width: 70%;
    }
  }
  
  @media only screen and (max-width:400px) {
    .auth-card {
      width: 80%;
    }
  }