.auth-page-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  overflow-y: scroll;
}

.auth-card {
  background-color: #fff;
  width: 28%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  justify-content: center;
}

.auth-card .form-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(34, 14, 121);
}

.auth-card .website-name {
  color: #240046;
}

.auth-card form {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px 11%;
  font-weight: lighter;
}

.auth-card form label {
  font-size: small;
  font-weight: bolder;
}

.auth-card form input {
  margin: 10px 0;
  border: none;
  outline: none;
  border: 0.7px solid grey;
  padding: 7px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.auth-card form input:focus {
  border: 0.7px solid rgb(36, 36, 36);
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
}

.forgot-pass {
  right: 0;
  bottom: 15px;
  position: absolute;
  font-size: x-small;
  font-weight: lighter;
  color: grey;
  cursor: pointer;
}

.auth-card form .auth-btn-container {
  display: flex;
  justify-content: center;
}

.auth-card form button {
  width: 50%;
  margin: 20px 0;
}

.auth-loader {
  width: 60px;
  height: 40px;
}


.auth-card .auth-card-footer {
  padding: 10px 14%;
}

.auth-card .auth-card-footer h5 {
  font-weight: lighter;
  text-align: center;
}

.auth-card .auth-card-footer h5 span {
  font-weight: bold;
  color: rgb(9, 41, 186);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .auth-card {
    width: 65%;
  }
}

@media only screen and (max-width: 800px) {
  .auth-card {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .auth-page-main {
    margin-top: 25%;
  }

  .auth-card {
    width: 70%;
  }

  .auth-card form button {
    width: 50%;
  }

  .auth-loader {
    width: 37px;
    height: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .auth-card {
    width: 80%;
  }
}