.authPage {
  font-family: "Nunito", sans-serif;
  background-color: #262936;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
    color:green;
    margin-left:10px;
}

.deactive {
    color:red;
    margin-left:10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #272727 !important;
}