
:root {
  --background-color: white;
  --secondary-background-color:grey;
  --border-radius:4px;
  --text-primary-color: #0F044C;
  --primary-color:#fbb040;
  --primary-color-1: #5800FF;
  --primary-color-2: #F78812;
  --btn-hover-primary-color: #6b1bfe;
  --text-secondary-color: #141E61;
  --border-color:rgb(230, 227, 227);
  --accent: purple;
  --box-shadow:1px 1px 4px 0px #0000001A;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}