
:root {
  --background-color: white;
  --text-primary-color: #0F044C;
  --text-secondary-color: #141E61;
  --border-color:rgb(192, 192, 192);
  --accent: purple;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color);
}

