@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100;400&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  /* height: auto; */
}

body {
  background-color: F7F7F7;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.space-btn {
  justify-content: space-between;
}

.pa-10 {
  padding: 10px;
}
.pointer {
  cursor: pointer;
}

/*Customize Scrollbar*/

.customize-scrollbar::-webkit-scrollbar {
  background-color: rgb(17, 17, 17);
  width: 15px;
}
.customize-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
  border-radius: 2px;
}

/* Buttton */
.white {
  color: white;
}

.btn-primary {
  margin: 5px;
  padding: 5px 9px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #22af39;
}

.btn-primary:hover {
  border: 2px solid #0aa037;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.customized-scrollbar::-webkit-scrollbar {
  background-color: #e9eaed;
  /* border-radius: 15px; */
  width: 11px;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(187, 188, 190);
  border-radius: 15px;
  width: 12px;
  cursor: pointer;
}
