@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100;400&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: F7F7F7;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.space-btn {
  justify-content: space-between;
}

.pd-0 {
  padding: 0 !important;
}

.pa-10 {
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

/*Font */

.bold {
  font-weight: 700;
}

/*Customize Scrollbar*/

.customize-scrollbar::-webkit-scrollbar {
  background-color: var(--background-color);
  width: 15px;
}

.customize-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
  border-radius: 2px;
}

/* Text Color*/

.text-dark {
  color: var(--text-color-dark) !important;
}

.white {
  color: white;
}

/*Background Colors*/


.bg {
  background-color: var(--primary-color);
}

.bg-green {
  background-color: green;
}

.bg-1 {
  background-color: var(--primary-color-1);
}

.bg-2 {
  background-color: var(--primary-color-2);
}

.primary-light {
  background-color: var(--primary-color-light);
}

.text-blue {
  color: blue;
}

/* Buttton */


.btn {
  padding: 7px 9px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}


.btn-primary {
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}

.btn-primary.hover:hover {
  background-color: var(--primary-btn-hover-color);
}

.btn-secondary {
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  background-color: inherit;
  border: 0.7px solid grey;
  border-radius: 3px;
}

.btn-secondary:hover {
  background-color: var(--secondary-btn-hover-color);
}

/*Border*/

.round {
  border-radius: var(--border-radius);
}

.round-sm {
  border-radius: 2px;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.shadow.shadow-hover:hover {
  box-shadow: 1px 4px 16px 0px #0000001A;
}

.customized-scrollbar::-webkit-scrollbar {
  background-color: #e9eaed;
  width: 11px;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(187, 188, 190);
  border-radius: 20px;
  width: 12px;
  cursor: pointer;
}





@media only screen and (max-width: 500px) {
  .btn {
    padding: 4px;
    font-size: medium;
  }
}