.upload-section-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0f203a;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.img-container {
  margin-right: 10px;
  height: 40px;
  width: 50px;
}
.img-container img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.upload-section-main h3 {
  color: #fdfdfd;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.upload-card {
  width: 230px;
  background-color: #08031a;
  border-radius: 4px;
   padding: 16px 12px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
}

.img-container i {
  margin-right: 10px;
  height: 40px;
  width: 50px;
  border-radius: 50%;
  background-color: #0f203a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:x-large;
}


