
.sheet-table-container {
    margin: 0 0;
}
.table {
    border-collapse: collapse;
}

.sheet-header-row {
    top: 41px;
        position: sticky;
}

.sheet-header-row-element {
    border-right: 0.3px solid rgb(160, 160, 160);
    border-left: 0.3px solid rgb(160, 160, 160);
    text-align: center;
    background-color: rgb(241, 241, 241);
    font-size: smaller;
}

.sheet-header-row-element.top {
    border-right: 3px solid rgb(160, 160, 160);
    border-bottom: 3px solid rgb(160, 160, 160);
}

.left-index-element {
    border-top: 0.3px solid rgb(160, 160, 160);
    border-bottom: 0.3px solid rgb(160, 160, 160);
    text-align: center;
    padding: 0 12px;
    background-color: rgb(241, 241, 241);
    font-size:x-small;
}