.sheet-table-container {
  margin: 0 0;
}

.chart-opened {
  display: flex;
  /* grid-template-columns: 0.65fr 0.01fr 0.34fr;   */
  flex-direction: row;
}

.table-container {
  height: 86vh;
  overflow: scroll;
  width: 100%;
}

.chart-opened .table-container {
  width: 60%;
}

.chart-section {
  flex: 1;
}



.table {
  border-collapse: collapse;
}

.section-resizer {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 5px;
  background-color: rgb(66, 66, 66);
  cursor: col-resize;
  user-select: none;
}

.section-resizer:hover {
  background-color: rgb(69, 69, 70);
}

.sheet-header-row {
  top: 0;
  position: sticky;
}

.sheet-header-row-element {
  border-right: 0.3px solid rgb(160, 160, 160);
  text-align: center;
  background-color: rgb(241, 241, 241);
  font-size: smaller;
}

.sheet-header-row-element.top {
  padding: 3px 6px;
  left: 0;
  position: sticky;
  z-index: 10;
  border-right: 3px solid rgb(160, 160, 160);
  border-bottom: 3px solid rgb(160, 160, 160);
}

.left-index-element {
  border-top: 0.3px solid rgb(160, 160, 160);
  border-bottom: 0.3px solid rgb(160, 160, 160);
  text-align: center;
  padding: 0 12px;
  background-color: rgb(241, 241, 241);
  font-size: x-small;
  left: 0;
  /* top: 56px; */
  position: sticky;
}

.table td {
  width: 150px;
}

.table th {
  position: relative;
}

.resizer {
  /* Displayed at the right side of column */
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
}

.resizer:hover,
.resizing {
  border-right: 2px solid blue;
}