.project-page-container {
  width: 70%;
  margin: 0 auto;
}

.sheet-list-table {
  text-align: center;
  border-collapse: collapse;
}

.sheet-list-table tr {
  height: 50px;
}

.sheet-list-table th,
td {
  border-bottom: 0.7px solid var(--border-color);
}

.sheet-list-item {
}

.sheet-list-item:hover {
  background-color: rgb(238, 238, 238);
}

.sheet-list-item-options i {
  margin: 0 10px;
  font-size: larger;
}

.msg-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .project-page-container {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .project-page-container {
    width: 95%;
    margin: 0 auto;
    font-size: small;
  }

  .sheet-list-item-options i {
    margin: 0 4px;
    font-size: larger;
  }
}
