/* @import url("https://fonts.googleapis.com/css?family=Nunito"); */


 .content {
  background-color: #292C3A;
  padding: 25px 12px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}
 .content button {
  padding: 15px;
  width: 150px;
  border: unset;
  background: #ffffff;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
 .content button:focus {
  outline: none;
}
 .content header {
  text-align: center;
}
 .content header h1 {
  color: #fff;
  margin-top: 0;
  font-size: 230%;
}
 .content .social-login {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
 .content .social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
 .content .social-login button:first-child {
  margin-right: 10px;
}
 .content .social-login button:hover {
  background-color: rgb(206, 206, 206);
}
 .content .social-login button span {
  font-size: 17px;
  color: #777;
  margin-left: 5px;
}
 .content .login-form {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .content .login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
  max-width: 310px;
}
 .content .login-form .input-group input {
  padding: 7px;
  font-size: 18px;
  border: 1px solid #262936;
  color: #fff;
  background-color: #262936;
  transition: background 0.5s;
  -webkit-tranistion: background 0.5s;
}
 .content .login-form .input-group input:focus {
  color: #fff;
  outline: 0;
}
 .content .login-form .input-group label {
  color: #999;
  font-size: 15px;
  margin-bottom: 3px;
  margin-left: 16px;
}
 .content .login-form .input-group button {
  background-color: rgb(121, 75, 196);
  border: unset;
  color: #fff;
  align-self: center;
  margin-top: 10px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
 .content .login-form .input-group button:hover {
  background-color: rgb(90, 46, 160);
}
 .content footer {
  padding-top: 10px;
  text-align: center;
}
 .content footer a {
  color: #999;
  text-decoration: none;
  font-size: 11px;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submit-btn button {
  align-items: center;
    margin: 0 auto;
}

.submit-btn img {
  margin-left: 7px;
  margin-bottom: 10px;
  height: 25px;
  width: 20px;
}

.form-footer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.form-footer label{
   font-size: 18px;
}

@media screen and (max-width: 720px) {
   .content {
    padding-right: 0;
    padding-left: 0;
    margin: 0 10px;
  }
}