.table-main {
    margin: 1em 0;
    justify-content: center;
    width: 100%;
    overflow: auto;
    height: 645px;
}

.rwd-table {
  min-width: 300px;
  background: #08031a;
  color: #fff;
  border-radius: 0.4em;
  height: 100%;
  width: 100%;
}
.rwd-table tr {
     margin-left: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-header {
    top: 0;
    position: sticky;
    background: #08031a;
}

.sort-arrow {
  margin-left: 5px;
  color: red;
}

.rwd-table th {
  display: none;
}
.rwd-table td {
     margin-left: 5px;
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.rwd-table th:before {
  content: attr(data-th);
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
/* .rwd-table th,
.rwd-table td {
  text-align: left;
} */
@media (min-width: 480px) {

  .rwd-table td {
    display: table-cell;
    /* padding: 0.25em 0.5em; */
  }
  .rwd-table th {
    display: table-cell;
    /* padding: 0.10em 0.15em; */
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  /* margin: 0.5em 1em; */
  text-align: center;
}
@media (min-width: 480px) {
  .rwd-table td {
    padding: 0.8em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}


