.sheet-input {
    width: inherit;
    padding: 1px 2px;
    font-size: medium;
    outline: none;
    border: 0.3px solid rgb(223, 223, 223);
}

.sheet-input:focus {
    border-color: rgb(0, 174, 255);
    border-width: 0.8px;
}