.sheet-input {
    width: 150px;
    padding: 1px 2px;
    font-size: medium;
    outline: none;
    border: 0.3px solid rgb(223, 223, 223);
    /* border: none; */
}

.sheet-input:focus {
    padding: 0.5px 1px;
    border: 2px solid rgb(0, 174, 255);
}