.landing-page-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 80px;
  flex-direction: row;
}

.landing-page {
  position: relative;
  background-color: #fff;
}

.landing-page .info {
  width: 32%;
  float: left;
}

.landing-page .info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page-container .landing-btns {
  margin-top: 15px;
}

.landing-img {
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-img img {
  width: 95%;
}

/* .header-main {
  margin-top: 10px;
  border-bottom: none;
} */
