.tableSk {
    background: #08031a;
    color:#08031a;
    width: 100%;
    padding: 0;
}
.tableSk th{
    background: #08031a;
    border-top: 1px solid #08031a;
    border-bottom: 1px solid #1e124b;
    padding: 12px 10px;
	text-align: left;
}
.tableSk td{
      border-top: 0px solid #08031a;
      border-bottom: 1px solid #1e124b;
      padding: 12px 10px;
	  vertical-align: top;
}
.tableSk span{
width: calc(100% - 5px);
    height: 15px;
    border-radius: 3px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines-table 1.6s infinite linear;
    display: inline-block;
    min-width:15px;
}
.tableSk span.sub-temp{
	width: calc(100% - 50%);
	margin-top: 5px;
}
.tableSk span.sub-temp-three{
	width:calc(100% - 70%);
	display:block
}
.col1{
		width: 25px;
}
.col2{
		width: 60px;
}
.col3{
		width: 45px;
}
.col4{
		width: 344px;
}
.col5{
		width: 145px;
}
.col6{
		width: 113px;
}
.col7{
		width: 73px;
}
.col8{
		width: 160px;
}
.col9{
		width: 92px;
}

.selectionSkCard {
  width: 230px;
  background-color: #08031a;
  border-radius: 4px;
  padding: 16px 12px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
}

.selectionSkTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.selectionSkImg {
  margin-right: 10px;
  height: 40px;
  width: 50px;
  border-radius: 50%;
  animation: shine-lines-table 1.6s infinite linear;
  background-color: #ddd;
}

.selectionSk {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0f203a;
}

.selectionSk span{
width: calc(100% - 5px);
    height: 15px;
    border-radius: 3px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines-table 1.6s infinite linear;
    display: inline-block;
    min-width:15px;
}

@keyframes shine-lines-table {
  0% {
	opacity:0.4;
  }
  40%{
	opacity:0.8;
  }
  100% {
	opacity:0.4;
  }
}

