.header-main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    border-bottom: 0.7px solid var(--border-color);
    justify-content: space-between;
    align-items: center;
}

.signin-btn {
    border: 1px solid var(--text-secondary-color);
    padding: 6px;
    background-color: white;
    margin: 0 10px;
    font-size: large;
    border-radius: 3px;
}

.signin-btn:hover {
    background-color: #edf4fc;
}

.signup-btn {
    padding: 6px;
    background-color: #2f81ec;
    color: #fff;
    margin: 0 10px;
    font-size: large;
    border-radius: 3px;
}

.signup-btn:hover {
    background-color: #137bf3;
}
