.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: auto; */
    position: relative;
    justify-content: space-between;
}

.main-section {
    height: 100%;
    overflow: auto;
}


@media only screen and (max-width:500px) {
    .main-section::-webkit-scrollbar {
        display: none;
    }
}