
.edit-table-header {
    top: 0;
    position: sticky;
}

.edit-table-header_el  {
    /* border: 1px solid black; */
    text-align: center;
    background-color: rgb(221, 218, 218);
    color: black;
    width: 300px;
    
}

.edit-table-header_el :hover {
    background-color: rgb(235, 229, 229);
}