.main-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-gif {
    width: 50px;
    height: 50x;
}